extends layout

block content
    script(src="/javascripts/js/index.js")

    - for (var i = 0; i < data.length; i++)
        section(class="article-item")
            h1
                a(href="/article?id="+data[i].id)= data[i].title
            div.effect-img.hide
                img(src= data[i].effect_img)
            div.title= data[i].intor
            div.content!= data[i].content
            div.article-time
                div.left 发布时间：
                    span= data[i].time
                div.right 分类：
                    span= data[i].catogary
                div.clear

    //- for (var i = 0; i < data.length; i++)
        section(class="article-item")
            h1 新版博客上线咯，来一起膜拜膜拜
            div.effect-img
                img(src="../images/test.png")
            div.title 介绍
            div.content
                · 支持多种offer类型，支持LP，Rotate，Multi-Paths等测试模型<br />
                · 支持多种流量类型，支持杀毒，游戏，订阅等等Offer的网页及移动流量追踪<br />
                · 高速骨干节点接入，全球分布式系统从而确保减少点击损失<br />
                · 友好界面，产品操作简单，同时提供视频教程帮助您快速入门<br />
                · 支持重定向优化，可根据国家，运营商，设备类型，ISP，操作系统等等进行流量优化<br />
                · 自定义实时报表，可按照多维度分组实时输出数据报表
            div.article-time
                div.left 本条目发表于2015年6月30日。属于文章1分类
                div.right 28条评论。
                div.clear
